<div class="usa-grid">
    <i class="fa fa-user-circle-o blue-grey-text darken-2" style="font-size: 8em" aria-hidden="true"></i>
    
    <div *ngIf="authTokenService.currentUserData">
        <p>Email:  <b>{{authTokenService.currentUserData.email}}</b></p>
        <p>Name:  <b>{{authTokenService.currentUserData.name}}</b></p>
        <p>Username: <b>@{{authTokenService.currentUserData.nickname}}</b></p>
        <p *ngIf="authTokenService.currentUserData.roles">Role(s): <b *ngFor="let role of authTokenService.currentUserData.roles">{{role.name}}</b></p>
    </div>
</div>