<div class="a2-header indigo lighten-5">
    <div class="usa-grid">
        <h6 class="left"><a [routerLink]="['/step']"><b><i class="fa fa-2x fa-angle-left left"></i> 1. Visioning Statement</b></a></h6>
        <button class="right usa-button-secondary"><i class="fa fa-upload"></i> Upload</button>
        <p class="right">Ready to start yours?</p>
        
    </div>
</div>    
<div class="usa-grid">
    <div class="usa-width-two-thirds">
        <h2>Knowledge Article</h2>
        <p>Long description here. This would be inputted by a limited-WYSIWYG editor to allow for tables/lists/etc.</p>
        <ul class="browser-default">
            <li>Concise: able to be easily remembered and repeated</li>
            <li>Clear: defines a prime goal</li>
            <li>Time horizon: defines a time horizon</li>
            <li>Future-oriented: describes where the company is going rather than the current state</li>
        </ul>
        
        <table class="usa-table-borderless">
            <thead>
                <tr>
                    <th scope="col">Document Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Year</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Declaration of Independence</th>
                    <td>Statement adopted by the Continental Congress declaring independence from the British Empire.</td>
                    <td>1776</td>
                </tr>
                <tr>
                    <th scope="row">Bill of Rights</th>
                    <td>The first ten amendments of the U.S. Constitution guaranteeing rights and freedoms.</td>
                    <td>1791</td>
                </tr>
                <tr>
                    <th scope="row">Declaration of Sentiments</th>
                    <td>A document written during the Seneca Falls Convention outlining the rights that American women should be entitled to as citizens.</td>
                    <td>1848</td>
                </tr>
                <tr>
                    <th scope="row">Emancipation Proclamation</th>
                    <td>An executive order granting freedom to slaves in designated southern states.</td>
                    <td>1863</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="usa-width-one-third">
        <div class="a2-callout">
            <button class="usa-button">
                <i class="fa fa-download"></i> File.docx
            </button>
            <button class="usa-button">
                <i class="fa fa-download"></i> AnotherFile.docx
            </button>
            <button class="usa-button">
                <i class="fa fa-download"></i> ALongerFile.docx
            </button>
            <button class="usa-button">
                <i class="fa fa-download"></i> File.docx
            </button>
            <button class="usa-button">
                <i class="fa fa-download"></i> File.docx
            </button>
            
            <br/><br/><br/><hr/>
            <label>Have something to add?</label>
            <button class="usa-button-secondary"><i class="fa fa-plus"></i> Submit a file</button>
            <br/><br/><hr/><br/>
            
            <p>
                <img src="./../../../assets/images/avatar.png" class="circle img-30 left" alt="John Smith">
                John Smith
            </p>
            <p>
                <small>
                    Created <b>Feb 2, 2018</b><br/>
                    Last Updated <b>Feb 5, 2018</b>
                </small>
            </p>
            <div class="chip">Visioning Statement</div>
        </div>
    </div>
</div>
<div class="usa-grid-fullwidth grey lighten-4">
    <div class="usa-grid">
        <br/><h3>Discussion</h3><br/>
        <ul class="collection">
            <li class="collection-item avatar">
                <img src="./../../../assets/images/avatar.png" alt="" class="circle">
                <p>Corned beef meatball pork, biltong ground round turkey prosciutto ribeye sausage swine ham cow pork belly jowl t-bone. Shank salami shankle prosciutto cow bresaola kevin jerky pork loin filet mignon short ribs landjaeger pork chop pig doner. Beef kevin salami, frankfurter tail landjaeger bresaola sirloin drumstick corned beef shank swine. Pig burgdoggen beef doner picanha.</p>
                <br/>
                <p class="right-align"><b>John Smith</b> <small>Feb 2, 2018, 8:01pm</small></p>
            </li>
        </ul>
        <br/>
        <ul class="collection">
            <li class="collection-item avatar">
                <img src="./../../../assets/images/avatar.png" alt="" class="circle">
                <p>Corned beef meatball pork, biltong ground round turkey prosciutto ribeye sausage swine ham cow pork belly jowl t-bone. Shank salami shankle prosciutto cow bresaola kevin jerky pork loin filet mignon short ribs landjaeger pork chop pig doner. Beef kevin salami, frankfurter tail landjaeger bresaola sirloin drumstick corned beef shank swine. Pig burgdoggen beef doner picanha.</p>
                <br/>
                <p class="right-align"><b>John Smith</b> <small>Feb 2, 2018, 8:01pm</small></p>
            </li>
        </ul>
        <br/>
        <ul class="collection">
            <li class="collection-item avatar">
                <img src="./../../../assets/images/avatar.png" alt="" class="circle">
                <p>Corned beef meatball pork, biltong ground round turkey prosciutto ribeye sausage swine ham cow pork belly jowl t-bone. Shank salami shankle prosciutto cow bresaola kevin jerky pork loin filet mignon short ribs landjaeger pork chop pig doner. Beef kevin salami, frankfurter tail landjaeger bresaola sirloin drumstick corned beef shank swine. Pig burgdoggen beef doner picanha.</p>
                <br/>
                <p class="right-align"><b>John Smith</b> <small>Feb 2, 2018, 8:01pm</small></p>
            </li>
        </ul>
        <br/><br/>
    </div>
</div>