a.usa-button-tertiary {
    color: #ef5350;
    background-color: #fff;
    -webkit-box-shadow: inset 0 0 0 2px #ef5350;
    box-shadow: inset 0 0 0 2px #ef5350;
}

a.usa-button-tertiary[_ngcontent-c2] {
    color: #ef5350;
    background-color: #fff;
    -webkit-box-shadow: inset 0 0 0 2px #ef5350;
    box-shadow: inset 0 0 0 2px #ef5350;

    &:hover{
        color: #c62828;
        background-color: #fff;
        -webkit-box-shadow: inset 0 0 0 2px #c62828;
        box-shadow: inset 0 0 0 2px #c62828;
    }
}