<div class="a2-header grey lighten-4">
    <div class="usa-grid">
        <div class="usa-width-one-half">
            <h6>
                <a *ngIf="!loading" [routerLink]="['/step', stepId]">
                  <i class="fa fa-angle-left left"></i>
                  <span class="chip"><b>{{stepId}}</b></span>
                  <b >{{article.workflow_steps[0].name}}</b>
                </a>
            </h6>
        </div>

        <div *ngIf="hasRole('Admin')" class="usa-width-one-half right-align">
            <a [routerLink]="['edit']" class="usa-button usa-button-tertiary"><i class="fa fa-pencil"></i> Edit</a>
            
            <!--TODO: Wire up, show materialize modal with confirmation screen "Are you sure you want to delete this knowledge article and all associated files? This is permanent and cannot be recovered." -->
            <button class="usa-button usa-button-tertiary"><i class="fa fa-times"></i> Delete</button>
            
            <!--PHASE 2
            <button class="usa-button usa-button-tertiary"><i class="fa fa-plus"></i> Add file</button>
            -->
        </div>

        <!--<div *ngIf="hasRole('Contributor')" class="usa-width-one-half right-align">
            <button class="usa-button usa-button-secondary right" (click)="presentModal('portfolio')">Create a portfolio</button>
            <label class="right">Ready to start yours?</label>
        </div>-->
    </div>
</div>
<div class="usa-grid">
        <div *ngIf="loading" class="loading">Loading...</div>
    <div *ngIf="!loading" class="usa-width-two-thirds">
        <h2>{{article.title}}</h2>
        <div class="workflow-step-description">
            <markdown [data]="article.body"></markdown>
        </div>
    </div>
    <div class="usa-width-one-third">
        <div *ngIf="!loading" class="a2-callout border-primary">
            <div *ngFor="let attachment of article.file_attachments">
                <a href="{{baseUrl + attachment.attached_file}}" *ngIf="attachment.approved" class="usa-button">
                    <span class="fa fa-download"></span> {{attachment.filename}}
                </a>
            </div>

            <div *ngIf="hasRole('Contributor')">
                <br/><br/><br/><hr/>
                <label>Have something to add?</label>
                <button class="usa-button-secondary" (click)="presentModal('fileSubmit')"><i class="fa fa-plus"></i> Submit a file</button>
            </div>

            <br/><br/><hr/><br/>
            <p>
                <img src="./../../../assets/images/avatar.png" class="circle img-30 left" alt="{{article.user.name}}">
                {{article.user.name}}
            </p>
            <p>
                <small>
                    Created <b>{{article.created_at | date}}</b><br/>
                    Last Updated <b>{{article.updated_at | date}}</b>
                </small>
            </p>
            <div class="chip">{{article.workflow_steps[0].name}}</div>
        </div>
    </div>
</div>
<div class="usa-grid-fullwidth grey lighten-5 a2-future">
    <div class="a2-future-overlay"></div>
    <div class="a2-future-text">
        <h2>coming soon</h2>
    </div>
    <div class="usa-grid">
        <br/><h4>Discussion</h4><br/>
        <ul class="collection">
            <li class="collection-item avatar">
                <img src="./../../../assets/images/avatar.png" alt="" class="circle">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <br/>
                <p class="right-align"><b>John Smith</b> <small>Feb 12, 2018, 8:01pm</small></p>
            </li>
        </ul>
        <br/>
        <ul class="collection">
            <li class="collection-item avatar">
                <img src="./../../../assets/images/avatar.png" alt="" class="circle">
                <p>Convallis posuere morbi leo urna molestie. Mi proin sed libero enim sed faucibus turpis in. Nibh tortor id aliquet lectus proin nibh nisl. Imperdiet sed euismod nisi porta lorem mollis aliquam. Vitae justo eget magna fermentum. Eget sit amet tellus cras adipiscing enim eu turpis. Blandit libero volutpat sed cras ornare arcu. Orci ac auctor augue mauris. A diam maecenas sed enim ut. Elit scelerisque mauris pellentesque pulvinar pellentesque.</p>
                <br/>
                <p class="right-align"><b>Mary Jones</b> <small>Feb 15, 2018, 2:43pm</small></p>
            </li>
        </ul>
        <br/>
        <ul class="collection">
            <li class="collection-item avatar">
                <img src="./../../../assets/images/avatar.png" alt="" class="circle">
                <p>Et ultrices neque ornare aenean euismod elementum. Sed felis eget velit aliquet. Pretium lectus quam id leo in vitae. Erat velit scelerisque in dictum non consectetur. Viverra mauris in aliquam sem fringilla ut.</p>
                <br/>
                <p class="right-align"><b>Bob Martin</b> <small>Feb 16, 2018, 11:45am</small></p>
            </li>
        </ul>
        <br/><br/>
    </div>
</div>

<app-modal #modal ></app-modal>