<form (ngSubmit)="onSignUpSubmit()" #f="ngForm" class="usa-form">
    <label for="email">Email</label>
    <input id="email"
           type="email"
           required
           name='email'
           [(ngModel)]="signUpUser.email"
           class="validate" />
    <label for="password_create">Password</label>
    <input id="password_create"
           type="password"
           required
           name='password'
           [(ngModel)]="signUpUser.password"
           class="validate" />
    <label for="password_confirmation">Password confirmation</label>
    <input id="password_confirmation"
           type="password"
           required
           name='password_confirmation'
           [(ngModel)]="signUpUser.passwordConfirmation"
           class="validate" />
    
    <div class="usa-alert usa-alert-error" *ngIf="signUpUser.password != signUpUser.passwordConfirmation">
        <div class="usa-alert-body">
            <p class="usa-alert-text">Passwords must match</p>
        </div>
    </div>
    <input type="submit" 
           [disabled]="!(f.valid) || !(signUpUser.password == signUpUser.passwordConfirmation)" 
           value="Sign up" />
</form>