<form (ngSubmit)="onSignUpSubmit()" #f="ngForm" class="usa-form">
    <label for="email">Email</label>
    <input id="email"
           type="email"
           required
           name='email'
           [(ngModel)]="signUpUser.email"
           class="validate" />
    
    <label for="email">Name</label>
    <input id="name"
           type="text"
           required
           name='name'
           [(ngModel)]="signUpUser.name"
           class="validate" />

    <label for="password_create">Password</label>
    <input id="password_create"
           type="password"
           required
           name='password'
           [(ngModel)]="signUpUser.password"
           class="validate" />
    
    <div [ngClass]="{'usa-input-error' : signUpUser.password != signUpUser.passwordConfirmation}">
        <label for="password_confirmation">Password confirmation</label>
        <input id="password_confirmation"
               type="password"
               required
               name='password_confirmation'
               [(ngModel)]="signUpUser.passwordConfirmation"
               class="validate" />
        <span class="usa-input-error-message" *ngIf="signUpUser.password != signUpUser.passwordConfirmation" role="alert">Passwords must match</span>
    </div>
    
    <input type="submit" 
           [disabled]="!(f.valid) || !(signUpUser.password == signUpUser.passwordConfirmation)" 
           value="Sign up" />
</form>