<form (ngSubmit)="onSignUpSubmit()" #f="ngForm" class="usa-form">
    <label for="email">Email</label>
    <input id="email"
           type="email"
           required
           name='email'
           [(ngModel)]="signUpUser.email"
           class="validate">
    <label for="password_create">Password</label>
    <input id="password_create"
           type="password"
           required
           name='password'
           [(ngModel)]="signUpUser.password"
           class="validate">
    <label for="password_confirmation">Password confirmation</label>
    <input id="password_confirmation"
           type="password"
           required
           name='password_confirmation'
           [(ngModel)]="signUpUser.passwordConfirmation"
           class="validate">
    <span *ngIf="signUpUser.password != signUpUser.passwordConfirmation" style="color:red">
           Passwords must match
    </span>
    <input type="submit" 
           [disabled]="!(f.valid) || !(signUpUser.password == signUpUser.passwordConfirmation)" 
           value="Sign up" />
</form>