<div class="modal" materialize="modal" [materializeActions]="modalActions">
    <div class="modal-content">
        <span class="modal-close right">
            <i class="fa fa-times"(click)="closeModal()" aria-hidden="true"></i>
        </span>



        <!-- MODAL: fileSubmit -->
        <div *ngIf="modalFileSubmit()">
            <div *ngIf="!submitted">
                <h3>Submit a file to the knowledge article</h3>

                <div class="modal-body">
                    <p class="text-large">Have something to add to this knowledge article? We'd love to share your templates, samples, or resources with this knowledge base. If you have files that enhance this article, upload them for publishing below.</p>

                    <form class="usa-form" #submitFileForm="ngForm" (ngSubmit)="submitFileSubmission()">
                        <label for="fileName">File Name</label>
                        <input id="fileName"
                            type="text"
                            required
                            name="fileName"
                            [(ngModel)]="submitFile.fileName"
                            class="validate" />
                        <label for="category">Category</label>
                        <select required id="category" name="fileCategory" [(ngModel)]="submitFile.fileCategory">
                            <option value="1">Template</option>
                            <option value="2">Sample</option>
                            <option value="3">Resource</option>
                        </select>
                        <!-- <div class="chips chips-initial">
                            <div class="chip">Template
                                <i class="close fa fa-times"></i>
                            </div>
                            <div class="chip">Sample
                                <i class="close fa fa-times"></i>
                            </div>
                            <div class="chip">Resource
                                <i class="close fa fa-times"></i>
                            </div>
                        </div> -->
                        <label for="fileInput">Upload file</label>
                        <div class="file-field input-field">
                          <div class="btn blue">
                            <span>File</span>
                            <input (change)="onFileInputChange($event)" id="fileInput" name="fileInput" [(ngModel)]="submitFile.fileInput" required type="file">
                          </div>
                          <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" required placeholder="Upload one file">
                          </div>
                        </div>
                        <div class="modal-footer">
                            <button class="usa-button usa-button-secondary" (click)="closeModal()" title="Cancel" aria-label="Cancel">Cancel</button>
                            <input type="submit" class="usa-button" [disabled]="!(submitFileForm.valid)" value="Submit" aria-label="Submit"/>
                        </div>
                    </form>
                </div>
            </div>
            <div *ngIf="submitted">
                <div class="modal-body green-text lighten-1 center-align">
                    <h1><i class="fa fa-check fa-3x"></i></h1>
                    <h3>File submitted!</h3>
                    <p class="text-large">Thanks for contributing your work.</p>
                </div>
            </div>
        </div>


        <!-- MODAL: fileReview -->
        <div *ngIf="modalFileReview()">
            <div *ngIf="fileSubmissions.length > 0">
                <h3>Review new file submissions</h3>

                <div class="modal-body">
                    <p>These files are waiting for your review before they can be added to knowledge articles. Approving a file submission will add it to the knowledge article it was submitted to. Rejecting a file submission will remove it from the platform.</p>

                    <table class="usa-table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">File</th>
                                <th scope="col">Submitted by</th>
                                <th scope="col">Knowledge Article</th>
				<th scope="col">Workflow Step</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let file of fileSubmissions">
				<td><a>{{ file.filename }}</a></td>
				<td>{{ file.user.name }}</td>
				<td><a [routerLink]="['/step', file.workflow_steps[0].id, 'article', file.knowledge_article.id]">{{ file.knowledge_article.title }}</a></td>
				<td><a [routerLink]="['/step', file.workflow_steps[0].id]">{{ file.workflow_steps[0].name }}</a></td>
                                <td class="right-align">
                                    <a class="usa-button usa-button-tertiary" title="Deny" (click)="rejectFile(file.id)">
                                        <i class="fa fa-trash" title="Reject" aria-label="Reject"></i>
                                    </a>
                                    <a class="usa-button usa-button-tertiary" title="Approve" aria-label="Approve" (click)="approveFile(file.id)">
                                        <i class="fa fa-check"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!--TODO: Show this div/table with the remainder of waiting file submissions (from other steps/articles), if admin clicked from either workflow step or knowledge article -->
<!--
                <div class="modal-body">
                    <h4 class="grey-text">Other waiting submissions</h4>
                    <table class="usa-table-borderless">
                        <thead>
                            <tr class="grey-text">
                                <th scope="col">File</th>
                                <th scope="col">Submitted by</th>
                                <th scope="col">Knowledge Article</th>
                                <th scope="col">Workflow Step</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a>File.docx</a></td>
                                <td>John Smith</td>
                                <td><a>Knowledge Article</a></td>
                                <td><a>1. Vision Statement</a></td>
                                <td class="right-align">
                                    <a class="usa-button usa-button-tertiary" title="Deny">
                                        <i class="fa fa-trash" title="Reject" aria-label="Reject"></i>
                                    </a>
                                    <a class="usa-button usa-button-tertiary" title="Approve" aria-label="Approve">
                                        <i class="fa fa-check"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><a>File.docx</a></td>
                                <td>John Smith</td>
                                <td><a>Knowledge Article</a></td>
                                <td><a>1. Vision Statement</a></td>
                                <td class="right-align">
                                    <a class="usa-button usa-button-tertiary" title="Deny">
                                        <i class="fa fa-trash" title="Reject" aria-label="Reject"></i>
                                    </a>
                                    <a class="usa-button usa-button-tertiary" title="Approve" aria-label="Approve">
                                        <i class="fa fa-check"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
	-->
            </div>
            <!--TODO: Show instantly when the last of the submissions are reviewed (table rows should disappear as each approve/reject button is clicked) -->
            <div *ngIf="fileSubmissions.length < 1">
                <div class="modal-body green-text lighten-1 center-align">
                    <h1><i class="fa fa-check fa-3x"></i></h1>
                    <h3>Great work!</h3>
                    <p class="text-large">All file submissions have been reviewed.</p>
                </div>
            </div>
        </div>


        <!-- MODAL: portfolio -->
        <div *ngIf="modalPortfolio()">
            <h3>Add your Vision Statement to your portfolio</h3>

            <div class="modal-body">
                <p class="text-large">Is it ready to go? Upload it below. Still not sure how to create it? <a>Visit the knowledge base.</a></p>

                <label for="files">Upload file</label>
                <div class="file-field input-field">
                  <div class="btn blue">
                    <span>File</span>
                    <input type="file" multiple>
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload one or more files">
                  </div>
                </div>
            </div>

            <div class="modal-footer">
                <a class="usa-button usa-button-secondary" (click)="closeModal()" title="Cancel" aria-label="Cancel">Cancel</a>
                <a class="usa-button" title="Save" aria-label="Save">Save</a>
            </div>
        </div>


        <!-- MODAL: remove -->
        <div *ngIf="modalRemove()">
            <div *ngIf="!submitted">
                <h3>Delete article</h3>

                <div class="modal-body">
                    <p class="text-large">Are you sure you want to delete this knowledge article and all associated files? This is permanent and cannot be recovered.</p>
                </div>

                <div class="modal-footer">
                    <a class="usa-button usa-button-secondary" (click)="closeModal()" title="Cancel" aria-label="Cancel">Cancel</a>
                    <a class="usa-button usa-button-tertiary" (click)="submitSuccess()" title="Delete" aria-label="Delete">Delete</a>
                </div>
            </div>
            <div *ngIf="submitted">
                <div class="modal-body center-align">
                    <h1><i class="fa fa-check fa-3x"></i></h1>
                    <h3>Article successfully deleted.</h3>
                </div>
                <div class="modal-footer">
                    <a class="usa-button usa-button-secondary" [routerLink]="['../..']" title="Return to step" aria-label="Return to step">Return to step</a>
                </div>
            </div>
        </div>



    </div>
</div>
