<div class="modal" materialize="modal" [materializeActions]="modalActions">
    <div class="modal-content">
        <span class="modal-close right">
            <i class="fa fa-times"(click)="closeModal()" aria-hidden="true"></i>
        </span>

        <!-- MODAL: fileSubmit -->
        <div *ngIf="modalFileSubmit()">
            <div *ngIf="!submitted">
                <h3>Submit a file to the knowledge article</h3>
                
                <div class="modal-body">
                    <p class="text-large">Have something to add to this knowledge article? We'd love to share your templates, samples, or resources with this knowledge base. If you have files that enhance this article, upload them for publishing below.</p>

                    <form class="usa-form" #submitFileForm="ngForm" (ngSubmit)="submitFileSubmission()">
                        <label for="fileName">File name <span class="red-text text-lighten-1">(*Required)</span></label>
                        <input id="fileName"                            
                            type="text"
                            required
                            name="fileName"
                            [(ngModel)]="submitFile.fileName"
                            class="validate" />
                        <label for="category">Type</label>
                        <select required id="category" name="fileCategory" [(ngModel)]="submitFile.fileCategory">
                            <option value="1">Template</option>
                            <option value="2">Example</option>
                            <option value="3">Reference</option>
                        </select>
                        <!-- <div class="chips chips-initial">
                            <div class="chip">Template
                                <i class="close fa fa-times"></i>
                            </div>
                            <div class="chip">Sample
                                <i class="close fa fa-times"></i>
                            </div>
                            <div class="chip">Resource
                                <i class="close fa fa-times"></i>
                            </div>
                        </div> -->
                        <label for="fileInput">Upload file <span class="red-text text-lighten-1">(*Required)</span></label>
                        <div class="file-field input-field">
                          <div class="btn blue">
                            <span>File</span>
                            <input (change)="onFileInputChange($event)"
                                accept=".doc, .docx, .xls, .xlsx, application/pdf, .txt, .csv, .rtf, .htm, .msg, .ppt, .pptx, .tif, .xlsb, .jpg, .jpeg, .png"
                                id="fileInput" 
                                name="fileInput" 
                                [(ngModel)]="submitFile.fileInput" 
                                required type="file">
                          </div>
                          <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" required placeholder="Upload one file">
                          </div>
                        </div>
                        <div class="modal-footer">
                            <button class="usa-button usa-button-secondary" (click)="closeModal()" title="Cancel" aria-label="Cancel">Cancel</button>
                            <input type="submit" class="usa-button right" [disabled]="!(submitFileForm.valid)" value="Submit" aria-label="Submit"/>
                        </div>
                    </form>
                </div>
            </div>
            <div *ngIf="submitted">
                <div class="modal-body green-text lighten-1 center-align">
                    <h1><i class="fa fa-check fa-3x"></i></h1>
                    <h2 class="text-sans">File submitted!</h2>
                    <p class="text-large">Thanks for contributing your work.</p>
                    <p>You can manage your file submissions from the <a (click)="closeModal()" [routerLink]="['']">home page</a>.</p>
                    <a (click)="submitSuccess()">Have something else to contribute?</a>
                </div>
            </div>
        </div>


        <!-- MODAL: fileReview -->
        <div *ngIf="modalFileReview()">
            <div *ngIf="fileSubmissions.length > 0">
                <h3>Review new file submissions</h3>
                <div *ngIf="error" class="usa-alert usa-alert-warning" >
                    <div class="usa-alert-body">
                        <h3 class="usa-alert-heading">Warning Status</h3>
                        <p class="usa-alert-text">{{error}}</p>
                    </div>
                </div>
                <div class="modal-body">
                    <p>These files are waiting for your review before they can be added to knowledge articles. Approving a file submission will add it to the knowledge article it was submitted to. Rejecting a file submission will remove it from the platform.</p>

                    <table class="usa-table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">File</th>
                                <th scope="col">Type</th>
                                <th scope="col">Submitted by</th>
                                <th scope="col">Knowledge Article</th>
                                <th scope="col">Workflow Step</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let file of fileSubmissions">
                                <td><a href="{{file.attached_file}}" target="_blank"><i class="fa fa-download"></i> {{ file.filename }}</a></td>
                                <td><span class="chip">{{ file.category.name == 'Knowledge Reference' ? 'Reference' : file.category.name }}</span></td>
                                <td><div>{{ file.user.name }}</div> <div>({{ file.user.email }})</div></td>
                                <td><a (click)="closeModal()" [routerLink]="['/step', file.workflow_steps[0].id, 'article', file.knowledge_article.id]">{{ file.knowledge_article.title }}</a></td>
                                <td><a (click)="closeModal()" [routerLink]="['/step', file.workflow_steps[0].id]">{{ file.workflow_steps[0].name }}</a></td>
                                <td class="right-align">
                                    <a class="usa-button usa-button-tertiary" title="Deny" (click)="rejectFile(file.id)">
                                        <i class="fa fa-trash" title="Reject" aria-label="Reject"></i>
                                    </a>
                                    <a class="usa-button usa-button-tertiary green-text approve" title="Approve" aria-label="Approve" (click)="approveFile(file.id)">
                                        <i class="fa fa-check"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!--TODO: Show this div/table with the remainder of waiting file submissions (from other steps/articles), if admin clicked from either workflow step or knowledge article -->
<!--
                <div class="modal-body">
                    <h4 class="grey-text">Other waiting submissions</h4>
                    <table class="usa-table-borderless">
                        <thead>
                            <tr class="grey-text">
                                <th scope="col">File</th>
                                <th scope="col">Submitted by</th>
                                <th scope="col">Knowledge Article</th>
                                <th scope="col">Workflow Step</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a>File.docx</a></td>
                                <td>John Smith</td>
                                <td><a>Knowledge Article</a></td>
                                <td><a>1. Vision Statement</a></td>
                                <td class="right-align">
                                    <a class="usa-button usa-button-tertiary" title="Deny">
                                        <i class="fa fa-trash" title="Reject" aria-label="Reject"></i>
                                    </a>
                                    <a class="usa-button usa-button-tertiary" title="Approve" aria-label="Approve">
                                        <i class="fa fa-check"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><a>File.docx</a></td>
                                <td>John Smith</td>
                                <td><a>Knowledge Article</a></td>
                                <td><a>1. Vision Statement</a></td>
                                <td class="right-align">
                                    <a class="usa-button usa-button-tertiary" title="Deny">
                                        <i class="fa fa-trash" title="Reject" aria-label="Reject"></i>
                                    </a>
                                    <a class="usa-button usa-button-tertiary" title="Approve" aria-label="Approve">
                                        <i class="fa fa-check"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
	-->
            </div>
            <!--TODO: Show instantly when the last of the submissions are reviewed (table rows should disappear as each approve/reject button is clicked) -->
            <div *ngIf="fileSubmissions.length < 1">
                <div class="modal-body green-text lighten-1 center-align">
                    <h1><i class="fa fa-check fa-3x"></i></h1>
                    <h2 class="text-sans">Great work!</h2>
                    <p class="text-large">All file submissions have been reviewed.</p>
                </div>
            </div>
        </div>


        <!-- MODAL: fileManage -->
        <div *ngIf="modalFileManage()">
            <h3>View files you have submitted to knowledge articles</h3>

            <div class="modal-body">
                <p>Thanks for contributing your resources to our knowledge base! If you want to make changes to a submitted file that has not yet been approved, you may remove it and later re-add a new version from the knowledge article.</p>

                <div id="user-files" *ngIf="!user.filesLoading">
                    <table class="usa-table-borderless" *ngIf="user.fileAttachments.unapproved.length > 0 || user.fileAttachments.approved.length > 0">
                        <thead>
                            <tr>
                                <th scope="col">File</th>
                                <th scope="col">Type</th>
                                <th scope="col">Knowledge Article</th>
                                <th scope="col">Workflow Step</th>
                                <th scope="col">Status</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let attachment of user.fileAttachments.unapproved">
                                <td>
                                    <a href="{{attachment.attached_file}}" target="_blank">{{attachment.filename}}</a>
                                </td>
                                <td>{{attachment.category.name == 'Knowledge Reference' ? 'Reference' : attachment.category.name}}</td>
                                <td><a (click)="closeModal()" [routerLink]="['/step', attachment.workflow_steps[0].id, 'article', attachment.knowledge_article.id]">{{ attachment.knowledge_article.title }}</a></td>
                                <td><a (click)="closeModal()" [routerLink]="['/step', attachment.workflow_steps[0].id]">{{ attachment.workflow_steps[0].name }}</a></td>
                                <td><span class="chip">Pending</span></td>
                                <td class="right-align">
                                    <button type="button" (click)="removeFileAttachment(attachment.id)" class="usa-button usa-button-tertiary" title="Delete">
                                        <i class="fa fa-trash" title="Delete" aria-label="Delete"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr *ngFor="let attachment of user.fileAttachments.approved">
                                <td>
                                    <a href="{{attachment.attached_file}}" target="_blank">{{attachment.filename}}</a>
                                </td>
                                <td>{{attachment.category.name == 'Knowledge Reference' ? 'Reference' : attachment.category.name}}</td>
                                <td><a (click)="closeModal()" [routerLink]="['/step', attachment.workflow_steps[0].id, 'article', attachment.knowledge_article.id]">{{ attachment.knowledge_article.title }}</a></td>
                                <td><a (click)="closeModal()" [routerLink]="['/step', attachment.workflow_steps[0].id]">{{ attachment.workflow_steps[0].name }}</a></td>
                                <td><span class="chip green lighten-1">Published</span></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        

        <!-- MODAL: comingSoon -->
        <div *ngIf="modalComingSoon()">
            <div class="modal-body blue-text lighten-1 center-align">
                <h1><i class="fa fa-paper-plane-o fa-3x"></i></h1>
                <h2 class="text-sans">Coming soon</h2>
                <p class="text-large">That feature is still on its way!</p>
            </div>
        </div>
        

        <!-- MODAL: portfolio -->
        <div *ngIf="modalPortfolio()">
            <h3>Add your Vision Statement to your solicitation package</h3>

            <div class="modal-body">
                <p class="text-large">Is it ready to go? Upload it below. Still not sure how to create it? <a>Visit the knowledge base.</a></p>

                <label for="files">Upload file <span class="red-text text-lighten-1">(*Required)</span></label>
                <div class="file-field input-field">
                  <div class="btn blue">
                    <span>File</span>
                    <input type="file" multiple>
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload one or more files">
                  </div>
                </div>
            </div>

            <div class="modal-footer">
                <a class="usa-button usa-button-secondary" (click)="closeModal()" title="Cancel" aria-label="Cancel">Cancel</a>
                <a class="usa-button" title="Save" aria-label="Save">Save</a>
            </div>
        </div>


        <!-- MODAL: remove -->
        <div *ngIf="modalRemove()">
            <div *ngIf="!submitted">
                <h3>Delete article</h3>

                <div class="modal-body">
                    <p class="text-large">Are you sure you want to delete this knowledge article and all associated files? This is permanent and cannot be recovered.</p>
                </div>

                <div class="modal-footer">
                    <a class="usa-button usa-button-secondary" (click)="closeModal()" title="Cancel" aria-label="Cancel"><i class="fa fa-times"></i> Cancel</a>
                    <a class="usa-button usa-button-tertiary" (click)="submitSuccess()" title="Delete" aria-label="Delete"><i class="fa fa-trash"></i> Delete</a>
                </div>
            </div>
            <div *ngIf="submitted">
                <div class="modal-body center-align">
                    <h1><i class="fa fa-check fa-3x"></i></h1>
                    <h2 class="text-sans">Article successfully deleted.</h2>
                </div>
                <div class="modal-footer">
                    <a class="usa-button usa-button-secondary" (click)="closeModal()" [routerLink]="['../..']" title="Return to step" aria-label="Return to step">Return to step</a>
                </div>
            </div>
        </div>



    </div>
</div>
