<app-modal #modal ></app-modal>

<br/><br/><br/>

<div class="usa-grid">
    <div *ngIf="loading" class="loading">Loading...</div>
    <div class="usa-width-two-thirds">
        <div *ngIf="!loading">
            <h2>{{step.name}}</h2>
            <div class="workflow-step-description">
                <markdown [data]="step.description"></markdown>
            </div>
        </div>
    </div>

    <div class="usa-width-one-third">
        <div class="a2-callout border-primary" *ngIf="hasRole('Contributor')">
            <label>Ready to start yours?</label>
            <button class="usa-button usa-button-secondary">Create a portfolio</button>
        </div>

        <br/><br/>

        <div class="a2-callout border-tertiary" *ngIf="hasRole('Admin')">
            <button (click)="presentModal('stepEdit')" class="usa-button usa-button-tertiary"><i class="fa fa-pencil"></i> Edit</button>
            <a [routerLink]="['new/article']" class="usa-button usa-button-tertiary"><i class="fa fa-plus"></i> Add article</a>
        </div>
    </div>
</div>

<div class="usa-grid-fullwidth grey lighten-4">
    <div class="usa-grid">
        <div class="usa-width-one-half">
            <br/>
            <div role="search">
                <form class="usa-search usa-search-big">
                    <input id="search-field" type="search" name="search" class="browser-default">
                    <button type="submit" class="usa-button usa-button-secondary">
                        <span class="usa-search-submit-text"><i class="fa fa-search"></i></span>
                    </button>
                </form>
            </div>
        </div>
        <div class="usa-width-one-half align-right">
            <form class="usa-form usa-form-inline">
                <select name="options" class="right">
                    <option value="value1">Newest</option>
                    <option value="value2">Title</option>
                    <option value="value3">Largest number of files</option>
                </select>
                <label for="options" class="right">Sort by</label>
            </form>
        </div>
    </div>
    <div class="usa-grid">
        <div *ngIf="!loading">
            <div *ngFor="let article of step.published_articles" class="card usa-width-one-fourth">
                <a [routerLink]="['article', article.id]">
                    <div class="card-content">
                        <h4>{{article.title}}</h4>
                        <p class="truncate">{{article.body}}</p>
                    </div>
                    <div class="card-content grey lighten-4">
                        <span class="chip">{{article.file_attachments.length}} files</span>
                        <p class="right"><small>{{article.created_at | date}}</small></p>
                    </div>
                </a>
            </div>
            <div class="card usa-width-one-fourth" *ngIf="hasRole('Admin')">
                <a [routerLink]="['new/article']">
                    <div class="card-content card-content-tertiary center-align">
                        <br/>
                        <h4><i class="fa fa-plus fa-4x "></i><br/>Add article</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
