<div class="a2-header grey lighten-4">
        <div class="usa-grid">
            <div class="usa-width-one-half">
                <h6>
                    <a *ngIf="!stepLoading" [routerLink]="['/step', stepId]">
                        <i class="fa fa-angle-left left"></i>
                        <span class="chip"><b>{{stepId}}</b></span>
                        <b>{{step.name}}</b>
                    </a>
                </h6>
            </div>
    
            <div class="usa-width-one-half right-align">
                <a class="right usa-button usa-button-secondary" *ngIf="!stepLoading && !loading" [routerLink]="['/step', stepId, 'article', article.id]"><i class="fa fa-times"></i> Cancel edits</a>
            </div>
        </div>
    </div>
    <div class="usa-grid">
        <h2>Edit the knowledge article <i class="blue-text">{{knowledgeArticle.title}}</i></h2><br/>
    
        <div *ngIf="!loading">
            <form (ngSubmit)="updateKnowledgeArticle()" #f="ngForm" class="usa-form">
                <fieldset>
                    <div class="usa-width-one-half">
                        <label for="title">Title</label>
                        <input id="title"
                            type="text"
                            required
                            name="title"
                            [(ngModel)]="knowledgeArticle.title"
                            class="validate" />
    
                        <label for="description">Description</label>
                        <div class="input-field">
                            <textarea [(ngModel)]="knowledgeArticle.description" id="description" name="description" required class="validate materialize-textarea" data-length="250"></textarea>
                        </div>
                    </div>
    
                    <!--TODO: Wire up to db -->
                    <div class="usa-width-one-half">
                        <label for="files">Upload files</label>
                        <div class="file-field input-field">
                          <div class="btn blue">
                            <span>Files</span>
                            <input type="file"
                                name="file_attachments"
                                (change)="onFileInputChange($event)"
                                accept=".doc, .docx, .xls, .xlsx, application/pdf, .txt, .csv, .rtf, .htm, .msg, .ppt, .pptx, .tif, .xlsb, .jpg, .jpeg, .png"
                                multiple>
                          </div>
                          <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload one or more files">
                          </div>
                        </div>
                        <table *ngIf="article.file_attachments.length > 0" class="usa-table-borderless">
                            <tbody>
                                <tr><label>Already uploaded files</label></tr>
                                <tr *ngFor="let attachment of article.file_attachments">
                                    <td>
                                        <a href="{{attachment.attached_file}}" target="_blank"><i class="fa fa-download"></i> {{attachment.filename}}</a>
                                    </td>
                                    <td class="right-align">
                                        <button type="button" (click)="removeFileAttachment(attachment.id)" class="usa-button usa-button-tertiary" title="Delete">
                                            <i class="fa fa-trash" title="Delete" aria-label="Delete"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
                <br><hr/><br>
                <fieldset class="grey lighten-4">
                    <div class="usa-grid">
                            <div class="grey lighten-4">
                                <h3>
                                    Content
                                </h3> 
    
                                <div *ngIf="edit">
                                    <label for="body">Content</label>
                                    <md-editor id="body" name="body" [(ngModel)]="knowledgeArticle.body"></md-editor>
                                </div>
                                <div *ngIf="!edit">
                                    <label>Content</label>
                                    <div class="card-panel">
                                        <markdown [data]="knowledgeArticle.body"></markdown>
                                    </div>
                                </div>
                            </div>
                    </div>
                </fieldset>
                <br/>
                <fieldset>
                    <button (click)="toggleEdit()" type="button" class="usa-button usa-button-secondary"><i class="fa fa-eye" title="Delete" aria-label="Delete"></i> {{edit ? 'Preview content' : 'Back to editing mode'}}</button>
                </fieldset>
                <br><hr/><br>
    
                <!--TODO: remove "draft" status functionality (and this publish checkbox) for now, will add back later? -->
                <!-- <input id="published" type="checkbox" name="published" [(ngModel)]="knowledgeArticle.published" />
                <label for="published">Publish?</label> -->
    
                <fieldset>
                    <button type="submit"
                        [disabled]="!(f.valid)"
                        value="Update knowledge article"
                        class="usa-button right"><i class="fa fa-save"></i> Update knowledge article</button>
                        <a class="right usa-button usa-button-secondary" *ngIf="!stepLoading" [routerLink]="['/step', stepId, 'article', article.id]"><i class="fa fa-times" title="Delete" aria-label="Cancel edits"></i> Cancel edits</a>
                    <br/><br/><br/><br/>
                </fieldset>
            </form>
        </div>
    </div>
    
    