body, label {
    font-size: 1.7rem;
}

.usa-form input {
    font-size: 1.7rem !important;
}

header.usa-header {
    z-index: 1000;
}

.usa-nav, nav.usa-nav {
    background-color: transparent;
    box-shadow: none;
    z-index: 1001;
}

.usa-form {
    max-width: none;
}

.modal .modal-content {
    padding: 60px;
}

a {
    cursor: pointer;
}