body, label {
    font-size: 1.5rem;
}


/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
          STYLE & COLORS
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

hr {
    box-shadow: none;
    height: 1px;
    border: 0;
    border-top: 1px solid #ddd;
}

a {
    cursor: pointer;
}

.usa-button {
    .chip {
        color: white;
        height: auto;
        margin: 0;
        padding: 2px 7px;
        line-height: inherit;
        font-weight: bold;
    }
}

    .usa-button, .usa-button-primary, .usa-button-primary:visited, .usa-button:visited, [type=button], [type=image], [type=reset], [type=submit], button {
        background-color: #2196f3;
    }

    .usa-button-primary.usa-button-secondary, .usa-button-primary:visited.usa-button-secondary, .usa-button.usa-button-secondary, .usa-button:visited.usa-button-secondary, [type=button].usa-button-secondary, [type=image].usa-button-secondary, [type=reset].usa-button-secondary, [type=submit].usa-button-secondary, button.usa-button-secondary {
        -webkit-box-shadow: inset 0 0 0 2px #2196f3;
        box-shadow: inset 0 0 0 2px #2196f3;
        color: #2196f3;
    }

    .usa-button-tertiary,
    a.usa-button-tertiary {
        color: #ef5350;
        background-color: #fff;
        -webkit-box-shadow: inset 0 0 0 2px #ef5350;
        box-shadow: inset 0 0 0 2px #ef5350;

        &:hover, &:active, &:focus, 
        &.usa-button:hover, &.usa-button:active, &.usa-button:focus {
            color: #c62828;
            background-color: #fff;
            -webkit-box-shadow: inset 0 0 0 2px #c62828;
            box-shadow: inset 0 0 0 2px #c62828;
        }
    }

.border-primary {
    border-color: #2196f3;
}

.border-tertiary {
    border-color: #ef5350;
}

.text-tertiary {
    color: #ef5350;
}

.text-large {
    font-size: 1.7rem;
}

.img-50 {
    width: 50px;
}

.img-30 {
    width: 30px;
    margin-right: 5px;
}

ul:not(.browser-default)  {
    margin-left: 30px;
    
    > li {
        list-style-type: disc;
    }
}

h1, h2, h3, h4, h5, h6 {
    clear: none;
    
    &.text-sans {
        font-family: 'Source Sans Pro';
    }
    
    &.text-flush {
        margin: 0;
    }
}

.chip.green {
    color: white;
}

.grey.grey-opacity {
    background-color: rgba(245,245,245,.7) !important;
}


/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
            MATERIALIZE
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.modal {
    max-height: 85%;
    
    .modal-content {
        padding: 60px 60px 10px 60px;
        background: white;

        .modal-body {
            padding: 0 0 50px 0;
            
            input {
                max-width: none;
            }
        }

        .modal-footer {
            background: white;
            padding: 0 0 50px 0;
            text-align: right;
            min-height: 87px;
        }
    }
}

.card .card-content > button {
    margin-top: 0 !important;
}

    .card > a {
        text-decoration: none;
        
        > .card-content {
            color: #444;
            display: block;
        }
        
        > .card-content-tertiary {
            min-height: 233px;
            color: #ccc;
        }

        &:hover {
            > .card-content {
                color: #2196f3;
                
                .chip {
                    background-color: #2196f3;
                    color: white;
                }
        
                &.blue {
                    background-color: #1976d2 !important;
                }
        
                &.green {
                    background-color: #43a047 !important;
                }
            }

            > .card-content-tertiary {
                color: #ef5350;
            }
        }
    }


/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
              USWDS
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.usa-grid {
    padding-bottom: 50px;

    .card:first-child {
        margin-top: 0.5rem;
    }

    &.usa-grid-max-w {
        max-width: none;
        padding-top: 50px;
        
        > .usa-grid-max-w {
            padding: 0;
        }
    }

    &.usa-grid-max-h {
        min-height: 100vh;
        padding-top: 70px;
    }

    &.usa-grid-top {
        height: 200px;
    }
    
    &.usa-grid-top + .usa-grid-max-h {
        min-height: calc(100vh - 166px);
        padding-top: 50px;
    }
}



@media screen and (max-width: 1200px) {
    &.usa-grid-top {
        display: none;
    }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
    .usa-width-one-third, .usa-width-two-thirds {
        float: none;
        display: block;
        margin-right: 0;
        width: auto;
    }
}

@media screen and (min-width: 1200px) {
    .usa-width-one-fifth {
        float: left;
        display: block;
        margin-right: 1%;
        width: 19.2%;
        
        .card-content:first-of-type {
            min-height: 220px;

            &.blue, &.green {
                min-height: 0;
            }
        }
    }
    
    .usa-width-one-fifth:last-of-type {
        margin-right: 0;
    }
}

.usa-width-one-fifth {
    h1 {
        border-bottom-width: 5px;
        border-bottom-style: solid;
        float: left;
        padding: 0 0 10px 0;
        margin-top: 0;
    }
    
    h3 {
        margin-bottom: 0;
    }
}

.usa-form {
    max-width: none;

    input, textarea {
        font-size: 1.7rem !important;
    }

    input.h2 {
        font-size: 3rem !important;
        font-weight: 700;
        font-family: Merriweather,Georgia,Cambria,Times New Roman,Times,serif;
    }

    [type=submit] {
        padding: 1rem 2rem;
        margin: .5em .5em .5em 0;
        height: 37px;
    }

    select[multiple] {
        height: 80px;
    }

    label {
        color: #5b616b;
        margin-bottom: .5rem;
    }
}

.usa-form-inline select {
    width: auto;
    margin-top: 20px;
    margin-left: 10px;
}

.usa-table-borderless {
    td, th {
        background: transparent;
    }
}


/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
                A2
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.a2-sidenav {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    color: white;
    z-index: 3;
    
    .usa-logo {
        float: none;
        width: 100%;
        text-align: center;
        margin: 50px 0 0 0;

        a {
            color: white;
            font-size: 4rem;
            
            img {
                max-width: 45px;
                max-height: 100%;
            }
        }
    }
    
    nav {
        width: 100%;
        height: auto;
        position: relative;
        box-shadow: none;
        
        > ul {
            margin: 10px 0 0 0;
            display: block;
            padding: 0 0 0 20px;
            list-style-type: none;
            width: 100%;

            > li {
                display: block;
                width: 100%;
                font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', sans-serif;
                list-style: none;
                margin: 0;

                a {
                    color: white;
                    float: right;
                    background: #1565C0;
                    position: relative;
                    min-width: 45px;
                    padding: 1.3rem 1.5rem 2.2rem;
                    font-size: 1.5rem;
                    font-weight: 700;
                    line-height: 1;
                    display: block;
                    text-decoration: none;

                    > .text {
                        display: inline;
                        font-weight: normal;
                    }

                    > i {
                        height: auto;
                    }

                    &:hover, &.active {
                        background: #0D47A1;
                        
                        span {
                            border: none;
                        }

                        &:after {
                            content: '';
                            position: absolute;
                            background: #0D47A1;
                            top: 0;
                            left: 100%;
                            height: 100%;
                            width: 15px;
                        }
                    }
                }
            }
        }
    }
    
    .a2-profile {
        padding: 50px 0;
        clear: both;
        
        .chip {
            background-color: #1565c0;
            color: white;
        }
    }
}

    @media screen and (max-width: 1200px) {
        .a2-sidenav {
            width: 100%;
            height: 60px;
            position: absolute;

            .usa-logo {
                float: left;
                width: 20%;
                margin: 15px 0;
                
                a > img {
                    height: 30px;
                    display: block;
                    margin-left: 3rem;
                }
            }

            nav {
                height: 60px;
                position: absolute;
                top: 100%;

                > ul {
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    display: block;

                    > li {
                        width: 16.66%;
                        float: left;

                        a {
                            float: none;
                            width: 100%;
                            min-height: 60px;
                            padding: 1.5rem;
                            text-align: center;

                            .text {
                                display: none;
                            }

                            &:hover, &.active {
                                &:after {
                                    top: 100%;
                                    left: 0;
                                    width: 100%;
                                    height: 15px;
                                }
                            }
                        }
                    }
                }
            }

            .a2-profile {
                padding: 0;
                float: left;
                clear: none;
                width: 80%;
                text-align: right;

                img, #user-roles { display: none; }

                p { 
                    display: inline-block;
                    margin: 10px 10px 0 0; 
                    line-height: 1; 
                }

                .usa-button {
                    width: auto;
                    float: right;
                    font-size: 1.2rem;
                    margin: 10px 10px 0 0; 
                }
            }
        }
    }

    @media screen and (max-width: 600px) {
        .a2-sidenav {
            .usa-logo {
                a > img {
                    margin-left: 1.5rem;
                }
            }
        }
    }

    @media screen and (max-height: 800px) {
        .a2-sidenav {
            position: absolute !important;
        }
    }

.a2-content {
    border-left: 200px solid #1976D2;
}

.a2-callout {
    border-left-width: 5px;
    border-left-style: solid;
    padding-left: 30px;
    margin-left: 60px;
}

    @media screen and (max-width: 1200px) {
        .a2-content {
            margin: 120px 0 0 0;
            border: none;
        }
        
        .a2-callout {
            border-left: none;
            border-top-width: 5px;
            border-top-style: solid;
            padding: 30px 0 0 0;
            margin: 60px 0 0 0 !important;
        }
    }

.a2-header {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 60px;
    
    .usa-grid {
        padding-bottom: 0;
        
        label, h6 {
            margin-top: .5em;
            margin-right: 2em;
            color: #aaa;

            a {
                text-decoration: none;
                font-size: 2rem;
                color: #1976d2;

                i {
                    font-size: 3rem;
                }
                
                .chip {
                    background-color: #1976d2;
                    color: white;
                }
            }
        }
    }
}

.a2-future {
    position: relative;
    
    .a2-future-overlay {
        background-image: linear-gradient(to bottom, 
            transparent, 
            rgba(250,250,250,.7) 30%, 
            rgba(250,250,250,.95)
        );
        z-index: 1;
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
    }
    
    .a2-future-text {
        z-index: 2;
        position: absolute;
        bottom: 40%;
        left: 40%;
        display: block;
        width: 20%;
        text-align: center;
        color: #aaa;
        
        h2 {
            display: block;
            font-family: 'Source Sans Pro';
            padding: 10px;
            border: 5px solid #eee;
            background: #fafafa;
        }
    }
}

.a2-home-bg {
    position: absolute;
    top: 350px;
    right: -200px;
    z-index: -1;
}


/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
             PLUGINS
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.md-editor-container .tool-bar .btn-group {
    display: inline-block;
    margin: 5px 0;

    .btn {
        padding: 0 1rem;
        margin: 0 0 0 2px;
        height: 24px;

        > i {
            font-size: 1rem;
        }
    }
}


