<div class="usa-grid">
    <legend class="usa-drop_text">{{authMode}}</legend>
    <app-login-form (onFormResult)="onLoginFormResult($event)" *ngIf="isLoginMode()">
    </app-login-form>

    <app-register-form (onFormResult)="onRegisterFormResult($event)" *ngIf="isRegisterMode()">
    </app-register-form>
    <span class="grey-text text-darken-2" *ngIf="isLoginMode()">
        Need an account? <a (click)="authMode='register'">Click here to register.</a>
    </span>
    <span class="grey-text text-darken-2" *ngIf="isRegisterMode()">
        Already have an account? <a (click)="authMode='login'">Click here to login.</a>
    </span>
</div>