<!--Navigation-->

<header class="a2-sidenav blue darken-2" role="banner">
    <div class="usa-logo">
        <em class="usa-logo-text">
            <a [routerLink]="['']" href="/" title="Home" aria-label="Home">a2</a>
        </em>
    </div>
    <nav role="navigation" class="usa-nav" *ngIf="(authService.userSignedIn$ | async)">
        <ul *ngIf="!loading" class="usa-nav-primary usa-accordion">
            <li *ngFor="let step of stepService.workflowSteps$ | async; let i = index" [attr.data-index]="i">
                <a class="usa-nav-link" [ngClass]="{'active': isActive(step.id)}" [routerLink]="['/step', step.id]">
                    {{i + 1}} <span class="text">{{step.name}}</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="a2-profile center-align" *ngIf="(authService.userSignedIn$ | async)">
        <img *ngIf="authTokenService.currentUserData" src="./../../../assets/images/avatar.png" class="circle img-50" alt="John Smith">
        <p *ngIf="authTokenService.currentUserData">
            <b>{{authTokenService.currentUserData.name}}</b>
            <br/><small>{{authTokenService.currentUserData.email}}</small>
        </p>
        <p *ngIf="authTokenService.currentUserData && authTokenService.currentUserData.roles.length != 0">
            <span class="chip" *ngFor="let role of authTokenService.currentUserData.roles">{{role.name}}</span>
        </p>
        <button class="usa-button" (click)="logOut()">Logout</button>
    </div>
</header>



<!--
<a class="usa-skipnav" href="#main-content">Skip to main content</a>
<header class="usa-header usa-header-basic" role="banner">
    <div class="usa-nav-container">
        <div class="usa-navbar">
            <div class="usa-logo" id="basic-logo">
                <em class="usa-logo-text">
                    <a [routerLink]="['']" href="/" title="Home" aria-label="Home">a2</a>
                </em>
            </div>
            <button class="usa-menu-btn">Menu</button>
        </div>
        <nav role="navigation" class="usa-nav">
            <button class="usa-nav-close">
                <img src="/assets/img/close.svg" alt="close">
            </button>
            <ul class="usa-nav-primary usa-accordion">
                <li *ngIf="!(authService.userSignedIn$ | async)">
                    <a class="usa-nav-link" [routerLink]="['/login']">Login</a>
                </li>
                <li *ngIf="(authService.userSignedIn$ | async)">
                    <a class="usa-nav-link" [routerLink]="['/profile']">Profile</a>
                </li>
                <li *ngIf="(authService.userSignedIn$ | async)">
                    <a class="usa-nav-link" [routerLink]="['/step']">Step</a>
                </li>
                <li *ngIf="(authService.userSignedIn$ | async)">
                    <a class="usa-nav-link" [routerLink]="['/article']">Article</a>
                </li>
                <li *ngIf="(authService.userSignedIn$ | async)">
                    <a class="usa-nav-link" (click)="logOut()">Logout</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
-->
