<!--Navigation-->

<a class="usa-skipnav" href="#main-content">Skip to main content</a>
<header class="a2-sidenav blue darken-2" role="banner">
    <div class="usa-logo">
        <em class="usa-logo-text">
            <a [routerLink]="['']" href="/" title="a2" aria-label="a2">
                <img src="../../assets/images/a2-logo-w.png" alt="a2" />
                <h1 class="usa-sr-only">a2</h1>
            </a>
        </em>
    </div>
    <nav role="navigation" class="blue darken-2" *ngIf="(authService.userSignedIn$ | async)">
        <ul *ngIf="!loading">
            <li>
                <a href="/" [routerLink]="['']" [ngClass]="{'active': isActive(0)}" title="Home" aria-label="Home">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li *ngFor="let step of stepService.workflowSteps$ | async; let i = index" [attr.data-index]="i">
                <a class="usa-nav-link" [ngClass]="{'active': isActive(step.id)}" [routerLink]="['/step', step.id]">
                    <b>Step {{i + 1}}</b> 
                    <span class="text">{{step.name}}</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="a2-profile center-align blue darken-2" *ngIf="(authService.userSignedIn$ | async)">
        <img *ngIf="authTokenService.currentUserData" src="./../../../assets/images/avatar.png" class="circle img-50" alt="John Smith">
        <p id="user-profile" *ngIf="authTokenService.currentUserData">
            <b>{{authTokenService.currentUserData.name}}</b>
            <br/><small>{{authTokenService.currentUserData.email}}</small>
        </p>
        <div id="user-roles" *ngIf="authTokenService.currentUserData && authTokenService.currentUserData.roles.length != 0">
            <span class="chip" *ngFor="let role of authTokenService.currentUserData.roles">{{role.name}}</span>
        </div>
        <button class="usa-button" (click)="logOut()">Logout</button>
        <a class="usa-button" href="mailto://contact@agile6.com" target="_blank">Feedback</a>
    </div>
</header>