<!--Navigation-->
<div class="navbar-fixed">

    <nav  role="navigation">

      <div class="nav-wrapper blue ">
        <a [routerLink]="['']">
          <img width="120" alt="Agile Six Logo" src="/assets/images/Agile6Logo.png">
        </a>
        <ul class="right hide-on-med-and-down">

          <li *ngIf="!(authService.userSignedIn$ | async)"> <a (click)="presentAuthDialog()" >Login</a></li>
          <li *ngIf="!(authService.userSignedIn$ | async)"> <a (click)="presentAuthDialog('register')">Register</a></li>

          <li *ngIf="(authService.userSignedIn$ | async)"><a [routerLink]="['/profile']">Profile</a></li>
          <li *ngIf="(authService.userSignedIn$ | async)"><a (click)="logOut()">Logout</a></li>

        </ul>

      </div>

  </nav>

</div>

<app-auth-dialog #authDialog ></app-auth-dialog>
