<form (ngSubmit)="onSignInSubmit()" #f="ngForm" class="usa-form">
    <label for="email">Email</label>
    <input id="email"
           type="email"
           required
           name='email' 
           [(ngModel)]="signInUser.email" 
           class="validate" />
    <label for="password">Password</label>
    <input id="password" 
           type="password" 
           required  
           name='password' 
           [(ngModel)]="signInUser.password" 
           class="validate" />
    <input type="submit" 
           [disabled]="!(f.valid)" 
           [ngClass]="{'disabled': !(f.valid)}" 
           value="Sign in" /> 
</form>