<div class="usa-grid">
  <h1>ADPQ 2018</h1>
  <h2>We are using:</h2>
  <h3>Languages:</h3>
  <ul>
    <li>Ruby</li>
    <li>Javascript</li>
    <li>YAML</li>
    <li>HTML5</li>
    <li>CSS3/SASS</li>
    <li>English</li>
  </ul>
  <h3>Web Frameworks:</h3>
  <ul>
    <li>Rails</li>
  </ul>
  <h3>Database:</h3>
  <ul>
    <li>Postgres</li>
    <li>Redis</li>
  </ul>
  <h3>DevOps:</h3>
  <ul>
    <li>Puma</li>
    <li>nginx</li>
    <li>Docker</li>
    <li>CircleCi</li>
    <li>AWS ELB</li>
  </ul>
  <h3>Testing:</h3>
  <ul>
    <li>Rspec</li>
    <li>Capybara</li>
    <li>Sniffybara</li>
    <li>Selenium</li>
  </ul>
  <h3>Other libraries include (but are not limited to):</h3>
  <ul>
    <li>USWDS</li>
    <li>JQuery</li>
    <li>Bootstrap</li>
    <li>Sidekiq</li>
    <li>Devise</li>
  </ul>
</div>


