<nav class="navbar sticky-top navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <%= image_tag('Agile6Logo.png', class: 'agile-six-logo d-inline-block align-top', alt: 'AgileSix Logo') %>
    </a>
  </div>
</nav>